<div class="span12" id="innerform" align="center">
	<h2>Sign in</h2><br />
	<fieldset>
		<legend></legend>
			<%= simple_form_for(:session, :url => sessions_path) do |f|%>
				<%= f.input :email %>
				<%= f.input :password %>
				<div class="form-actions">
					<%= f.submit "Sign In", :class => 'btn btn-primary' %>
				</div>
			<% end %>
			
			<p>New user? <%= link_to "Sign up now!", signup_path%></p>
	</fieldset>
</div>
