<!-- <li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="name"><%= feed_item.name %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   feed_item.name %>
  <% end %>

</li> -->

<tr>
  <td class="micropost" align="center">
	<div class="row-fluid" style="border: 0px solid grey; width: 600px;">
	<div class="span1" style="width: 50px; height: 60px; margin-right: 0;padding-top: 5px; padding-left: 3px;"><%= link_to gravatar_for(feed_item.user), feed_item.user %></div>
	<div class="span6" style="width: 450px;" align="left">
    <span class="content"><strong> <%= link_to feed_item.user.name, feed_item.user %> <br/><%= feed_item.name %></strong></span><br />
	<span class="content">Open with:
		<% if feed_item.name.include? '#mixtape'%>
			<% bad = "#mixtape"%>
			<% feed_item.name = (feed_item.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("Datpiff-Logo-2.png", :size => "20x20"), "http://www.datpiff.com/mixtapes-search.php?criteria=#{micropost.name}")%>
		<% elsif feed_item.name.include? '#spot'%>
			<% bad = "#spot"%>
			<% feed_item.name = (feed_item.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("spotify_logo.png", :size => "20x20"), "spotify:search:#{feed_item.name}")%>
		<% elsif feed_item.name.include? '#cloud'%>
			<% bad = "#cloud"%>
			<% feed_item.name = (feed_item.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("soundcloud-logo.png", :size => "20x20"), "http://soundcloud.com/search?q%5Bfulltext%5D=#{feed_item.name}")%>
		<% elsif feed_item.name.include? '#groove'%>
			<% bad = "#groove"%>
			<% feed_item.name = (feed_item.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("Grooveshark_Logo.png", :size => "20x20"), "http://grooveshark.com/#!/search?q=#{feed_item.name}")%>
		<% elsif feed_item.name.include? '#hulk'%>
			<% bad = "#hulk"%>
			<% feed_item.name = (feed_item.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("hulkshare.gif", :size => "20x20"), "http://www.hulkshare.com/search.php?q=#{feed_item.name}")%>
		<% elsif %>
			<%= link_to( image_tag("spotify_logo.png", :size => "20x20"), "spotify:search:{#{feed_item.name}}")%>
			<!-- <%= link_to( image_tag("itunes_logo.jpg", :size => "20x20"), "")%> -->
			<%= link_to( image_tag("lastfm_logo.png", :size => "20x20"), "http://www.last.fm/search?q=#{feed_item.name}&type=track")%>
			<%= link_to( image_tag("soundcloud-logo.png", :size => "20x20"), "http://soundcloud.com/search?q%5Bfulltext%5D=#{feed_item.name}")%>
			<%= link_to( image_tag("Grooveshark_Logo.png", :size => "20x20"), "http://grooveshaerk.com/#!/search?q=#{feed_item.name}")%>	
	<% end %>
	<% unless feed_item.link_url.blank?%>
	 <p>Link:<%= link_to feed_item.link_url, feed_item.link_url%></p>
	<% else %>
	<% end%>
	



	
	</span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
	<span class="Retrack">
		<% if feed_item.user != current_user %>
			<strong><%= link_to "[ Retrack ] ", retweet_micropost_path(feed_item), :method => :post %></strong>
		<% end %>
	</span>
	</div>
	<div class="span1" style="padding-top: 20px;">
	
	 <% if current_user?(feed_item.user) %>
 	   <%= link_to "delete", feed_item, method:  :delete,
 	                                    confirm: "You sure?",
 	                                    title:   feed_item.name %>
 	 <% end %>
	</div>
	</div><br/>
  </td>
</tr>
