<%= form_for @micropost, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spotify, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spotify, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :itunes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :itunes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :link_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                microposts_path, :class => 'btn' %>
  </div>
<% end %>
