<tr>
  <td class="micropost">
    <span class="content">
	<strong><%= micropost.name %></strong></span><br />
	<span class="content">Open with:
		<% if micropost.name.include? '#mixtape'%>
			<% bad = "#mixtape"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("Datpiff-Logo-2.png", :size => "20x20"), "http://www.datpiff.com/mixtapes-search.php?criteria=#{micropost.name}")%>
		<% elsif micropost.name.include? '#spotify'%>
			<% bad = "#spotify"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("spotify_logo.png", :size => "20x20"), "spotify:search:#{micropost.name}")%>
		<% elsif micropost.name.include? '#soundcloud'%>
			<% bad = "#soundcloud"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("soundcloud-logo.png", :size => "20x20"), "http://soundcloud.com/search?q%5Bfulltext%5D=#{micropost.name}")%>
		<% elsif micropost.name.include? '#grooveshark'%>
			<% bad = "#grooveshark"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("Grooveshark_Logo.png", :size => "20x20"), "http://grooveshark.com/#!/search?q=#{micropost.name}")%>
			
		<% elsif micropost.name.include? '#hulkshare'%>
			<% bad = "#hulkshare"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("hulkshare.gif", :size => "20x20"), "http://www.hulkshare.com/search.php?q=#{micropost.name}")%>
		
		<% elsif micropost.name.include? '#youtube'%>
			<% bad = "#youtube"%>
			<% micropost.name = (micropost.name.split(' ') - bad.split(' ')).join(' ') %>
			<%= link_to( image_tag("youtube.jpg", :size => "20x20"), "http://www.youtube.com/results?search_query=#{micropost.name}")%>
	   	
	   <% elsif%>
	
			<%= link_to( image_tag("spotify_logo.png", :size => "20x20"), "spotify:search:{#{micropost.name}}")%>
			<!-- <%= link_to( image_tag("itunes_logo.jpg", :size => "20x20"), "")%> -->
			<%= link_to( image_tag("lastfm_logo.png", :size => "20x20"), "http://www.last.fm/search?q=#{micropost.name}&type=track")%>
			<%= link_to( image_tag("soundcloud-logo.png", :size => "20x20"), "http://soundcloud.com/search?q%5Bfulltext%5D=#{micropost.name}")%>
			<%= link_to( image_tag("Grooveshark_Logo.png", :size => "20x20"), "http://grooveshark.com/#!/search?q=#{micropost.name}")%>	
			<%= link_to( image_tag("youtube.jpg", :size => "20x20"), "http://www.youtube.com/results?search_query=#{micropost.name}")%>
			<!-- <% unless micropost.link_url.blank?%>
			<%= link_to( image_tag("url.png", :size => "20x20"), "http://www.youtube.com/results?search_query=#{micropost.name}")%>
			<% end %> -->
			
	<% end %>
	<% unless micropost.link_url.blank?%>
	 <p>Link:<%= link_to micropost.link_url, micropost.link_url%></p>
	<% else %>
	<% end%>
	

	
	</span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	<span style="float: right; font-size: 13px;">
	<% unless micropost.user == current_user %>
	<strong><%= link_to " Retrack", retweet_micropost_path(micropost), :method => :post, :style => "color: green;" %></strong>
	<%= link_to image_tag("retrack-action.png", :size => "20x20"), retweet_micropost_path(micropost), :method => :post %>
	<% end %>
    </span>
	</span

	
  </td>
</tr>